<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{pendientes}}</strong> items pendientes</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
        <li (click)="cambiarFiltro(filter)" *ngFor="let filter of filtrosValidos">
            <a [ngClass]="{ 'selected' : filter === filtroActual }">{{filter}}</a>
        </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button (click)="borrarTodo()" class="clear-completed">limpiar completados</button>
</footer>